html, body {
	height: 100%;
}

body{
	background: linear-gradient(5deg, #812051 14.33%, #30307a 51.39%, #812051 87.53%);
	color: white;
}

a {
	text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
